node_modules/
android-app/node_modules/
android-app/www/
android-app/keystore.properties
android-app/*.keystore
android-app/android/.gradle/
android-app/android/build/
android-app/android/app/build/
android-app/android/local.properties
android-app/android/capacitor-cordova-android-plugins/build/
*.apk
